{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_lex/help_slider

    Example context (json): {}
}}

<div id="mySidenav" class="sidenav">
    <div class="help-center-main-heading">
        <h2>Help Center</h2>
        <a href="#" class="closebtn" id="closenav">&times;</a>
    </div>
    <div class="help-center-chat">
        <h5>How Can I Help?</h5>

    <div id="conversation" style="width: 350px; height: 400px; border: 1px solid #ccc; background-color: #eee; padding: 4px; overflow: scroll"></div>
    <form id="chatform" style="margin-top: 10px" onsubmit="">
        <input type="text" id="wisdom" size="80" value="" placeholder="I need a hotel room">
    </form>
    </div>
    <div id="searchresults">
    go here
    </div>

</div>
<div id="helpbox" class="btn-primary">Help</div>
